.homepage {
	font-family: "Inter Tight", sans-serif;
}

img {
	max-width: 100%;
	height: auto;
}

.section-title {
	font-size: 30px;
	color: #3C2415;
	text-transform: uppercase;
	font-weight: 700;
	font-family: "Inter Tight", sans-serif;
	margin-bottom: 30px;
}

.sc-reason {
	height: auto;
	position: relative;
	z-index: 1;

	.section-title {
		font-size: 35px;
		margin-bottom: 20px;
	}

	&-bg1 {
		background: url(/images/bg-left.png) no-repeat;
		background-size: cover;
		width: 40%;
		height: 450px;
		position: absolute;
		left: 0;
		top: 0;
	}

	&-bg2 {
		background: url(/images/bg-right.png) no-repeat;
		background-size: cover;
		width: 60%;
		height: 450px;
		position: absolute;
		right: 0;
		top: 0;
	}

	&-content {
		height: 450px;
		position: relative;
		z-index: 2;
		display: flex;
		align-items: center;
		left: 15%;
	}

	.box {
		&-content {
			width: 50%;
		}

		&-img {
			flex-shrink: 0;
			width: 360px;
			aspect-ratio: 1/1;
			margin-right: 30px;
		}

		&-text {
			padding: 11px 15px;
			border-radius: 6px;
			background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.8) 60%, rgba(255, 255, 255, 0.01) 100%);
			font-size: 20px;
			color: #3C2415;

			&:not(:last-child) {
				margin-bottom: 10px;
			}
		}
	}
}

.sc-homeform {
	background: url(/images/bg-form-home.png) no-repeat;
	padding-top: 150px;
	position: relative;
	margin-top: -75px;
	background-size: cover;

	.form-home {
		padding: 25px 30px;
		border-radius: 16px;
		border: 1px solid #D09C38;
	}

	.form {
		font-size: 16px;
		background: #fff;

		&-home {
			margin-bottom: 50px;
		}

		&-check {
			display: flex;
			align-items: center;
			margin-bottom: 14px;

			label {
				padding-left: 14px;
			}
		}

		&-title {
			font-size: 30px;
			text-transform: uppercase;
			color: #3C2415;
			font-weight: 700;
			text-decoration: underline;
			margin-bottom: 7px;
		}

		&-desc {
			color: #A0783A;
			font-weight: 500;
			font-size: 18px;
			margin-bottom: 15px;
		}

		&-img {
			display: flex;
			flex-wrap: wrap;

			.form-check {
				flex: 0 0 50%;
			}

			label {
				text-align: center;
				display: flex;
				flex-flow: column;
			}
		}

		textarea {
			border: 1px solid #D09C38;
			width: 100%;
			background: #FFF4DF;
			border-radius: 10px;
			margin-bottom: 15px;
		}

		input {
			border: 1px solid #D09C38;

			&[type=checkbox] {
				width: 22px;
				height: 22px;
				border-radius: 2px;
				-webkit-appearance: none;
			}

			&[type=text] {
				border-radius: 10px;
				margin-bottom: 15px;
				background: #FFF4DF;
			}
		}

		.col-title {
			font-size: 16px;
			font-weight: 700;
			margin-bottom: 10px;
		}

		button {
			color: #fff;
			font-size: 18px;
			text-transform: uppercase;
			font-weight: 800;
			padding: 10px;
			border-radius: 10px;
			background: #D30000;
			width: 100%;
		}

		.checkbox-icon {
			position: absolute;
			left: 0;
			width: 22px;
			height: 22px;
			background: transparent;
		}

		input:checked+.checkbox-icon::after {
			content: '';
			position: absolute;
			width: 16px;
			height: 15px;
			background-image: url(/images/checked-ip.png);
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center;
			border-color: transparent;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
		}
	}
}

.section-expert {
	padding: 80px 0;

	&-title {
		color: #3C2415;
		font-size: 28px;
		margin-bottom: 0;
		font-weight: 800;
		text-decoration: underline;
	}

	&-desc {
		color: #fff;
		background: #3C2415;
		font-size: 20px;
		font-weight: 700;
		padding: 10px;
		width: max-content;
		margin-bottom: 20px;
	}

	.section-title {
		color: #C99431;
		font-size: 40px;
		font-weight: 900;
		margin-bottom: 0;
	}

	.item {
		font-size: 16px;
		margin-bottom: 20px;

		b {
			color: #3C2415;
		}

		&-title {
			margin-bottom: 5px;
		}
	}

	ul {
		padding-left: 15px;
		margin-bottom: 20px;

		li {
			&::marker {
				color: #C99431;
				font-size: 18px;
			}
		}
	}

	.box-img {
		position: relative;

		&-text {
			border: 1px solid #C99431;
			background: #fff;
			font-size: 17px;
			color: #3C2415;
			padding: 15px 31px;
			position: relative;
			border-radius: 10px;
			text-align: center;
			width: 90%;
			margin: -100px auto 0 auto;
			font-weight: 700;

			&::before {
				content: '';
				position: absolute;
				background: url(/images/qout2.png) no-repeat;
				width: 24px;
				height: 19px;
				left: 8px;
				top: 16px;
			}

			&::after {
				content: '';
				position: absolute;
				background: url(/images/qout1.png) no-repeat;
				width: 24px;
				height: 19px;
				right: 8px;
				top: 16px;
			}
		}
	}
}

.section-solution {
	.box {
		&-img {
			background: #FFF0D4;
			width: 100%;
			aspect-ratio: 1/1;
			border-radius: 50%;
			padding: 19px;
			display: flex;
			align-items: center;
			justify-content: center;

			&-inner {
				display: flex;
				align-items: center;
				justify-content: center;
				background: #D09C38;
				width: 100%;
				aspect-ratio: 1/1;
				border-radius: 50%;
				padding: 13px;
			}
		}

		&-content {
			position: relative;
			display: flex;
			flex-flow: column;
			justify-content: center;
			height: 100%;

			&-item {
				display: flex;
				align-items: center;
				position: relative;

				&:not(:nth-child(2)) {
					margin-left: -30px;
				}

				&:not(:last-child) {
					margin-bottom: 15px;
				}
			}

			&-title {
				font-weight: 700;
				font-size: 20px;
				margin-bottom: 5px;
			}

			&-desc {
				font-size: 16px;
				margin-bottom: 0;
			}

			&-text {
				background: #FFF4DF;
				border-radius: 16px;
				padding: 25px;
				position: absolute;
				padding-left: 100px;
				width: 85%;
				left: 60px;
				z-index: -1;
			}

			&-img {
				position: relative;
				flex-shrink: 0;
				background: rgba(208, 156, 56, 0.5);
				width: 145px;
				aspect-ratio: 1/1;
				border-radius: 50%;
				margin-right: 20px;
				padding: 8px;
				display: flex;
				align-items: center;
				justify-content: center;
			}
		}
	}
}

@media (max-width:575px) {
	.section-solution {
		.box {
			&-img {
				margin-bottom: 20px;
			}

			&-content {

				&-item {

					&:not(:nth-child(2)) {
						margin-left: 0;
					}

					&:not(:last-child) {
						margin-bottom: 15px;
					}
				}

				&-img {
					width: 120px;
					aspect-ratio: 120px;
				}

				&-title {
					font-size: 16px;
				}

				&-text {
					height: 100%;
					left: 40px;
					padding: 15px;
					padding-left: 90px;
					width: 90%;
				}
			}
		}
	}

	.section-expert {
		padding: 60px 0;

		&-title {
			font-size: 24px;
			margin-bottom: 13px;
		}

		&-desc {
			font-size: 18px;
		}

		.section-title {
			margin-bottom: 5px;
			font-size: 30px;
		}

		.box-img {
			&-text {
				width: 95%;
				font-size: 15px;
			}
		}
	}

	.sc-homeform {
		background: url(/images/bg-form-home-mb.png) no-repeat;
		background-size: cover;
		padding-top: 50px;
		margin-top: 0;

		.form {
			font-size: 15px;

			&-text {
				display: flex;
				flex-wrap: wrap;

				.form-check {
					flex: 0 0 50%;
				}
			}
		}
	}

	.sc-reason {
		height: auto;

		.section-title {
			font-size: 26px;
		}

		&-bg1 {
			display: none;
		}

		&-bg2 {
			background: url(/images/bg-right-mb.png) no-repeat;
			background-size: contain;
			width: 100%;
			height: auto;
			position: absolute;
			background-position: 50% 100%;
			left: 0;
			right: auto;
			bottom: 0;
		}

		&-content {
			flex-flow: column;
			left: 0;
			height: 100%;
			padding-bottom: 80px;
		}

		.box {
			&-img {
				width: 100%;
				aspect-ratio: 1/1;
				margin-right: 0;
				margin-bottom: 30px;
				text-align: center;
			}

			&-content {
				width: 100%;
			}
		}
	}
}